/*Fonts*/
@font-face {
  font-family: FranklinGothicBook;
  src: url("../fonts/FRABK.TTF");
}

@font-face {
  font-family: FranklinGothicDemiCond;
  src: url("../fonts/FRADMCN.TTF");
}

@font-face {
  font-family: ScriptBarguzin;
  src: url("../fonts/BARGU.otf");
}

@font-face {
  font-family: FranklinGothicMedium;
  src: url("../fonts/framd.ttf");
}

@font-face {
  font-family: FranklinGothicMediumCond;
  src: url("../fonts/FRAMDCN.TTF");
}

@font-face {
    font-family: ArialNarrow;
    src: url('../fonts/arialn-webfont.eot');
    src: url('../fonts/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialn-webfont.woff2') format('woff2'),
         url('../fonts/arialn-webfont.woff') format('woff'),
         url('../fonts/arialn-webfont.ttf') format('truetype'),
         url('../fonts/arialn-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*Colors*/
@dark-red: #7a1315;
@red: #d71920;
@grey: #636363;
@light-grey: #b7b7b7;
@white: #fff;
@brown: #252525;
@blue: #0961b5;
@silver: #363636;
@green: #3da275;
@dark-gray: #252525;
@violet: #550462;
@gold: #efc076;
@lighter-grey: #ffffff;
@yellow: #ffc863;

.dark-red-color {
  color: @dark-red
}

.grey-color {
  color: @grey;
}

.red-color {
  color: @red;
}

.blue-color {
  color: @blue;
}

.silver-color {
  color: @silver;
}

.green-color {
  color: @green;
}

.white-color {
  color: @white;
}

.violet-color {
  color: @violet;
}

.gold-color {
  color: @gold;
}

.lighter-grey-color {
  color: @lighter-grey;
}

.brown-color {
  color: @brown;
}

.yellow-color {
  color: @yellow;
}

.news-count-color {
  color: #898989;
}

/*Mixins*/
.border-box() {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@params) {
  -webkit-box-shadow: @params;
  -moz-box-shadow: @params;
  box-shadow: @params;
}

.transition(@param: ease-in-out .3s) {
  -webkit-transition: @param;
  -moz-transition: @param;
  -ms-transition: @param;
  -o-transition: @param;
  transition: @param;
}

/*Base styles*/
.clearfix {
  clear: both;
  width: 100%;
  height: 0;
}

a {
  .transition(ease-in-out .3s);
}
.no-bg {
  background: @white;
}

#center_container {
  background-color: @lighter-grey;
}

.clearing {
  width: 100%;
  height: 25px;
}

#main, #center_container {
  background: @lighter-grey;
}

/* header */

header {
  .ld-logo-wrapper {
    margin-top: 15px;
  }

  .logo-wrapper {
    background-size: cover;

    img {
      position: absolute;
      z-index: 2;
      left: 15px;
    }
  }

  /*top cabinet block*/
  .top-cabinet-block {
    margin-top: 19px;
    text-align: right;

    a {
      display: inline-block;
      font: normal 14px/16px FranklinGothicBook;
      height: 16px;
      color: #aeaeae;
      padding-left: 25px;
      margin-left: 15px;
      text-transform: none;
      .transition(none);

      &.logout-lnk {
        background: url("../img/cabinet_logout.png") no-repeat left center;
        &:hover {
          color: #db161d;
          background: url("../img/cabinet_logout_a.png") no-repeat left top;
        }
      }

      &.feеdback-lnk {
        background: url("../img/cabinet_msg.png") no-repeat left center;
        &:hover {
          color: #db161d;
          background: url("../img/cabinet_msg_a.png") no-repeat left top;
        }
      }

      &.profile-lnk {
        background: url("../img/cabinet_user.png") no-repeat left center;
        &:hover {
          color: #db161d;
          background: url("../img/cabinet_user_a.png") no-repeat left top;
        }
      }

    }
  }

  /*main menu*/
  .main-menu {
    font: bold 18px/18px FranklinGothicBook;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    background: @lighter-grey;

    ul {
      border-top: solid 1px @light-grey;
      margin: 4px 0 0;
      padding: 0;
      list-style-type: none;

      border-bottom: solid 1px @light-grey;
      //      -webkit-border-image:url('../img/main_menu_border_bottom.png')30 30 round; /* Safari 3.1-5 */
      //      -o-border-image:url('../img/main_menu_border_bottom.png') 30 30 round; /* Opera 11-12.1 */
      //      border-image:url('../img/main_menu_border_bottom.png') 30 30 round;

      li {
        padding: 15px 0;
        display: inline-block;
        margin-right: 30px;

        a {
          color: inherit;

          &:hover {
            color: #db161d;
            text-decoration: none;
          }

          .menu-numbers {
            color: @red;
          }
        }
      }
    }
  }
}

/*menu bar*/
.menu-block {
  margin-top: 25px;
}

/* Secondary menu */
.product-content,
.prizes_content{
  width: 100%;
  margin-top: 17px;

  .secondary-menu {
    font: normal 24px/24px FranklinGothicDemiCond;
    color: #898989;
    text-transform: uppercase;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: #db161d;
          text-decoration: none;
        }
      }

      li {
        display: inline-block;
        margin-right: 30px;
      }
      .active {
        color: @red;
        font-size: 36px;
      }
    }
  }
}

.menu-arrow {
  background: url("../img/menu_arrow.png") no-repeat;
  height: 23px;
  margin-top: -23px;

  &.ss {
    background: url("../img/menu_arrow_ss.png") no-repeat;
    height: 23px;
    margin-top: -23px;
  }

  &.club {
    background: url("../img/menu_arrow_club.png") no-repeat 825px;
    height: 23px;
  }
  &.about {
    margin-top: 0;
    height: 30px;
    background: url("../img/menu_arrow_about.png") no-repeat 235px bottom;
  }
  &.what_to_do {
    margin-top: 0;
    height: 30px;
    background: url("../img/menu_arrow_about.png") no-repeat 480px bottom;
  }
  &.prizes_catalog{
    margin-top: 0;
    height: 30px;
    background: url("../img/menu_arrow_about.png") no-repeat 317px bottom;

    &.game {
      background: url("../img/menu_arrow_about.png") no-repeat 217px bottom;
    }

    &.statistic {
      background: url("../img/menu_arrow_about.png") no-repeat 417px bottom;
    }
  }
}

.product-content-main {
  height: 725px;
  margin-top: 35px;
  &.red {
    background: url("../img/product_bg_red.jpg") no-repeat top center;
    .product_packs_all {
      margin-right: -30px;
      .pack_desc {
        width: 125px;
      }
    }
  }
  &.extra {
    color: @white;
    background: url("../img/product_bg_extra.jpg") no-repeat top center;
    .menu-arrow {
      background: url("../img/menu_arrow_extra.png") 700px no-repeat;
    }

    .product-annotation {
      .product-name {
        margin-top: 55px;
      }
      .main-text {
        color: @white;
        padding-bottom: 29px;
        padding-top: 24px;
        line-height: 21px;
      }
      .product-ingredients {
        background: url("../img/product_extra_bullet.png") no-repeat left center;
        color: #54b4f9;
      }
      .cigarette-style {
        left: 278px;
        bottom: 65px;
        background: url("../img/cigarette_style_extra.png") no-repeat;
      }
    }
    .product-price {
      color: #8dcffe;
      text-align: right;
      right: 16px;
      top: 60px;
      span {
        color: #54b4f9;
        text-transform: uppercase;
        font-family: "FranklinGothicBook", serif;
      }
      .rrc {
        color: @white;
        font-family: "FranklinGothicBook", serif;
        margin-top: -8px;
      }
    }
    .product_packs_all {
      margin-right: -30px;
      .pack_desc {
        width: 125px;
      }
      .ld-ks {
        color: #c2c2c2;
        &.first {
          margin-right: 129px;
          margin-left: -48px;
        }
        .pack_desc {
          color: #c2c2c2;
        }

      }
    }
  }
  &.lounge {
    color: @white;
    background: url("../img/product_bg_lounge.jpg") no-repeat top center;
    .menu-arrow {
      background: url("../img/menu_arrow_lounge.png") 940px no-repeat;
    }
    .product-name {
      margin-top: 55px;
      span {
        color: #ffff4c;
      }
    }

    .product-annotation {
      .product-name {
        margin-top: 55px;
      }
      .main-text {
        color: @white;
        padding-bottom: 89px;
        padding-top: 38px;
        line-height: 22px;
      }
      .product-ingredients {
        background: url("../img/product_lounge_bullet.png") no-repeat left center;
        color: #290101;
        margin-bottom: 4px;
      }
      .product-body {
        line-height: 20px;
      }
      .cigarette-style {
        left: 226px;
        bottom: 58px;
        background: url("../img/cigarette_style_lounge.png") no-repeat;
      }
    }

    .product_packs_all {
      color: #363636;
      top: 588px;
      .pack_desc {
        width: 125px;
        color: #363636;
      }
      .ld-ks {
        color: #363636;
        &.first {
          margin-right: 0;
          margin-left: 215px;
        }
      }
    }

    .product-price {
      color: @white;
      text-align: right;
      right: 16px;
      top: 60px;
      span {
        text-transform: uppercase;
        font-family: "FranklinGothicBook", serif;
      }
      .rrc {
        color: #290101;
        font-family: "FranklinGothicBook", serif;
        margin-top: -8px;
      }
    }
  }
  &.ss {
    background: url("../img/product_bg_ss.jpg") no-repeat top center;
    .product-annotation {
      .product-name {
        margin-top: 60px;
      }
      .main-text {
        padding-bottom: 40px;
        padding-top: 20px;
        line-height: 21px;
      }
    }

    .product_packs_all {
      top: 586px;
      left: 53px;
      .pack_desc {
        line-height: 21px;
      }
      .ld-ks {
        &.first {
          margin-right: 108px;
        }
        height: 55px;
        margin-right: 15px;
      }
    }
  }
  &.club {
    background: url("../img/product_bg_club.jpg") no-repeat top center;
    .product-annotation {
      .product-name {
        margin-top: 60px;
      }
      .main-text {
        padding-bottom: 108px;
        padding-top: 40px;
        line-height: 22px;
      }
      .product-ingredients {
        margin-top: 22px;
      }
    }

    .product_packs_all {
      top: 587px;
      left: -30px;
      .pack_desc {
        line-height: 21px;
      }
      .ld-ks {
        &.first {
          margin-right: 98px;
        }
        height: 55px;
        margin-right: 15px;
      }
    }
  }

  .product-annotation {

    .product-name {
      font: normal 72px/73px FranklinGothicDemiCond;
      text-transform: uppercase;
      margin-top: 60px;
    }

    .product-ingredients {
      font: bold 21px/21px FranklinGothicBook;
      text-transform: uppercase;
      background: url("../img/product_bullet.png") no-repeat left center;
      padding-left: 30px;

      &.red-bullet {
        background: url("../img/product_bullet.png") no-repeat left center;
      }
      &.violet-bullet {
        background: url("../img/product_violet_bullet.png") no-repeat left center;
      }
      &.club-bullet {
        background: url("../img/product_club_bullet.png") no-repeat left center;
      }
    }
    .product-body {
      font: normal 18px/18px FranklinGothicBook;
      //      color: @brown;
      padding-left: 30px;
      padding-bottom: 5px;
      margin-top: 0;
    }

    .main-text {
      padding-left: 0;
      padding-bottom: 58px;
      padding-top: 22px;
      line-height: 22px;
    }

    .cigarette-style {
      background: url("../img/cigarette_style.png") no-repeat;
      height: 51px;
      position: relative;
      bottom: 70px;
      left: 230px;
    }

    .club-style {
      background: url("../img/cigarette_style_club.png") no-repeat;
      height: 51px;
      position: relative;
      bottom: 70px;
      left: 350px;
    }

  }
  .product-price {
    font: normal 57px FranklinGothicDemiCond;
    position: absolute;
    right: 15px;
    top: 60px;
    text-align: right;

    span {
      font-size: 18px;
      text-transform: uppercase;
      font-family: "FranklinGothicBook", serif;
    }

    .rrc {
      font-size: 18px;
      font-family: "FranklinGothicBook", serif;
      margin-top: -8px;
    }
  }
}

.club {
  background: url("../img/club_bg.jpg") no-repeat top center;
}

.product_red {
  background: url("../img/product_red.png") no-repeat;
  height: 491px;
  position: relative;
  width: 919px;
  top: 75px;
  left: -110px;
}

.product_ss {
  background: url("../img/product_ss.png") no-repeat;
  height: 540px;
  position: relative;
  width: 850px;
  top: 75px;
  right: 120px;
}

.product_club {
  background: url("../img/product_club.png") no-repeat;
  height: 550px;
  position: relative;
  width: 595px;
  top: 75px;
  right: 53px;
}

.product_packs_all {
  position: relative;
  top: 585px;
  left: 0;

  .pack_title {
    font: normal 16px/16px FranklinGothicMedium;

  }
  .pack_desc {
    font: normal 16px/21px FranklinGothicBook;
    width: 130px;
    color: @grey;
  }

  .ld-ks {
    &.first {
      margin-right: 119px;
    }
    border-left: 1px solid @white;
    float: left;
    height: 55px;
    padding-left: 10px;
  }

}

.disclaimer {
  padding-left: 0;
  color: #a1a1a1;
  top: 80px;
  position: relative;

}

.ducat-script {
  background: url("../img/ducat_script.png") no-repeat;
  height: 120px;
  position: relative;
  bottom: 50px;
  margin-bottom: -28px;

  &.main-page{
    bottom: 0;
    right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  &.cabinet-script {
    bottom: 0;
    right: 10px;
    margin-bottom: 10px;
    margin-top: -40px;
  }

}

/*slider*/
.top-banner-wrapper {
  background: #fff;
  padding: 0;

  .slide-1 {
    background: url("../img/slider.jpg") no-repeat top center;

    .top-banner {
      width: 100%;
      margin: 0 auto;
      position: relative;

      .slider {
        height: 371px;
        padding: 0;

        .slider_content {
          position: relative;
          padding-left: 20px;
          top: 70px;

          .slogan {
            font: normal 36px/36px FranklinGothicMediumCond;
            color: #636363;
            text-transform: uppercase;
            text-align: right;
            position: relative;
            bottom: 10px;
          }

          .cursive {
            font: normal 58px/58px ScriptBarguzin;
            color: @red;
            padding-left: 150px;
            text-transform: lowercase;
            text-align: right;
          }

          .play-button {
            float: right;
            margin-top: 10px;
          }

        }
        .slider-pack {
          position: relative;
          .ld-pack {
            background: url("../img/pack.png") no-repeat;
            height: 345px;
            position: relative;
            right: 140px;
            top: 10px;
          }
          .ld-phone {
            background: url("../img/phone.png") no-repeat;
            height: 366px;
            width: 458px;
            position: absolute;
            top: 10px;
            left: 110px;

          }

        }
      }
    }
  }
}

/*main*/
#main {
  .menu-block {
    .menu-block-label {
      background: #8b1214;
      height: 30px;
      position: absolute;
      left: 15px;
      top: 0;
      font-family: "FranklinGothicBook", serif;
      font-size: 18px;
      color: @lighter-grey;
      padding: 3px 30px;
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhMTMxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNjE5MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(left, rgba(122, 19, 21, 1) 0%, rgba(214, 25, 33, 1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(122, 19, 21, 1)), color-stop(100%, rgba(214, 25, 33, 1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(122, 19, 21, 1) 0%, rgba(214, 25, 33, 1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(122, 19, 21, 1) 0%, rgba(214, 25, 33, 1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(122, 19, 21, 1) 0%, rgba(214, 25, 33, 1) 100%); /* IE10+ */
      background: linear-gradient(to right, rgba(122, 19, 21, 1) 0%, rgba(214, 25, 33, 1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a1315', endColorstr='#d61921', GradientType=1); /* IE6-8 */
      text-transform: uppercase;

    }

    .menu-content-wrapper {
      cursor: pointer;
    }

    .drawing {
      background: url("../img/menu_drawing.png") no-repeat center;
      color: @white;
      text-transform: uppercase;
      height: 250px;
      cursor: pointer;
    }

    .news {
      background: url("../img/menu_news.png") no-repeat center;
      background-size: cover;
      height: 250px;
    }

    .prize {
      background: url("../img/menu_prize.png") no-repeat;
      background-size: cover;
      height: 250px;
    }

    .poll {
      background: url("../img/menu_poll.png") no-repeat;
      background-size: cover;
      height: 250px;
    }

    .your_day {
      background: url("../img/menu_day.png") no-repeat;
      background-size: cover;
      height: 250px;
    }

    .menu-content {
      position: absolute;
      left: 30px;
      bottom: 10px;
//      max-width: 178px;

      &.large {
        max-width: 340px;
      }

      .menu-title {
        font: normal 30px/30px FranklinGothicDemiCond;
        color: @lighter-grey;
        text-transform: uppercase;

        &.large {
          font: normal 50px/42px FranklinGothicDemiCond;
          margin-bottom: 10px;
        }

        &.vertical {
          transform: rotate(-90deg);
          color: @red;
          padding-bottom: 125px;
        }

        &.dark-red-color {
          color: @dark-red;
        }

        &.cursive {
          font: normal 65px/65px ScriptBarguzin;
          color: @red;
          text-transform: lowercase;
          padding-left: 10px;
        }
      }

      .menu-description {
        font: normal 18px FranklinGothicBook;
        color: @lighter-grey;
        max-width: 240px;
        text-transform: uppercase;

        &.grey-color {
          color: @grey;
        }

        &.red-color {
          color: @red;
        }

        &.big-red {
          color: @dark-red;
          font: normal 40px/40px FranklinGothicMediumCond;
          text-align: right;
        }
        &.dark-red-color {
          color: @dark-red;
          text-transform: uppercase;
        }        
      }
    }
  }
}

/* footer */
footer {
  background: @red;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Small devices (tablets, 468px and up) */
@media (max-width: 468px) {
  .slider {
    height: 371px;

    .slider_content {
      position: relative;
      padding-left: 20px;
      top: 70px;

      .slogan {
        font: normal 37px/37px FranklinGothicDemiCond;
      }

      .cursive {
        font: normal 38px/38px ScriptBarguzin;
        padding-left: 150px;
      }

      .packtype {
        font: normal 18px/18px FranklinGothicBook;
      }

      .longtext {
        font: normal 12px/12px FranklinGothicBook;
        max-width: 725px;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .slider {
    height: 371px;

    .slider_content {
      position: relative;
      padding-left: 20px;
      top: 70px;

      .slogan {
        font: normal 37px/37px FranklinGothicDemiCond;
        position: relative;
        top: 20px;
      }

      .cursive {
        font: normal 38px/38px ScriptBarguzin;
        padding-left: 150px;
        position: relative;
        top: 30px;
      }

      .packtype {
        font: normal 18px/18px FranklinGothicBook;
        position: relative;
        top: 40px;
      }

      .longtext {
        font: normal 15px/15px FranklinGothicBook;
        max-width: 425px;
        position: relative;
        bottom: -70px;
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  /*Slider*/
  .slider {
    /*background: url("../img/slider.jpg") no-repeat top center;*/
    height: 371px;

    .slider_content {
      position: relative;
      padding-left: 20px;
      top: 70px;

      .slogan {
        font: normal 47px/47px FranklinGothicDemiCond;
      }

      .cursive {
        font: normal 48px/48px ScriptBarguzin;
        padding-left: 150px;
        position: relative;
        top: 10px;
      }

      .packtype {
        font: normal 28px/28px FranklinGothicBook;
        position: relative;
        top: 20px;
      }

      .longtext {
        font: normal 16px/16px FranklinGothicBook;
        max-width: 525px;
        bottom: -40px;
        position: relative;

      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .slider {
    height: 371px;

    .slider_content {
      position: relative;
      padding-left: 20px;
      top: 70px;

      .slogan {
        font: normal 57px/57px FranklinGothicDemiCond;
        text-transform: uppercase;
      }

      .cursive {
        font: normal 58px/58px ScriptBarguzin;
        padding-left: 150px;
      }

      .packtype {
        font: normal 38px/38px FranklinGothicBook;
      }

      .longtext {
        font: normal 23px/23px FranklinGothicBook;
        max-width: 725px;
      }
    }
  }
}

/* login page */

.popup-bg {
  background: @red;
}

.popup-logo {
  font: normal 78px/78px FranklinGothicDemiCond;
  text-transform: uppercase;
  color: @dark-gray;
  margin-top: 50%;
}

.popup-form {
  input:focus {
    outline: none;
    border: none
  }
  input {
    border: none;
    font: bold 18px/18px FranklinGothicBook;
    color: @grey;
    padding-left: 10px;
  }

  .popup-phone-code {
    float: left;
    input {
      width: 80px;
      height: 30px;
    }
  }
  .popup-phone {
    float: right;
    margin-left: 10px;
    input {
      width: 240px;
      height: 30px;
    }
  }
  .popup-seven {
    float: left;
    color: @white;
    margin-right: 5px;
    font: bold 18px/30px FranklinGothicBook;
  }
  .popup-password {

    input {
      margin-top: 10px;
      width: 100%;
      height: 30px;

    }
  }
  .popup-enter {
    background: url("../img/popup-enter.png") no-repeat top center;
    height: 89px;
    margin-top: 10px;
    cursor: pointer;
  }
  .popup-recovery {
    color: @white;
    font-size: 16px;
    float: left;
  }
  .popup-to-registration {
    color: @white;
    font-size: 16px;
    float: right;

  }
}

#product_about {
  background: url("../img/product_bg_about.png") repeat-x;
  #ab_1 {
    width: 585px;
    padding: 20px 5px 7px 0;
    float: left;
    #ab_1_1 {
      padding-left: 8px;
      text-transform: uppercase;
      font-family: FranklinGothicDemiCond, serif;
      font-size: 68px;
      line-height: 68px;
      span {
        color: @red;
      }
    }
    #ab_1_2 {
      margin: 4px 15px 0;
      padding: 140px 20px 15px;
      width: 382px;
      color: @white;
      background: @red url("../img/ducat_script_2.png") no-repeat center 19px;
      font: 15px/18px "FranklinGothicBook", serif;
      float: left;
    }
    #ab_1_3 {
      padding-top: 4px;
    }
    #ab_1_4 {
      padding: 17px 9px 0 15px;
      width: 288px;
      float: left;
      position: relative;
      #ab_1_4_1 {
      }
      #ab_1_4_2 {
        background-color: #252525;
        color: #b7b7b7;
        margin-top: 19px;
        height: 196px;
        padding: 0 18px;
        font-family: FranklinGothicBook, serif;
        #ab_1_4_2_1 {
          font-family: FranklinGothicDemiCond, serif;
          text-transform: uppercase;
          font-size: 28px;
        }
        #ab_1_4_2_2 {
          color: @red;
          font-size: 93px;
          line-height: 93px;
          margin-top: -3px;
          display: inline-block;
        }
        #ab_1_4_2_3 {
          display: inline-block;
          margin-top: -4px;
          line-height: 18px;
        }
      }
    }
    #ab_1_5 {
      position: relative;
      float: left;
      width: 277px;
      height: 384px;
      background-color: #7a1315;
      margin-top: 18px;
      margin-left: 5px;
      text-align: left;
      color: #ffffff;
      font-family: FranklinGothicBook, serif;
      font-size: 15px;
      padding: 19px 0 0 19px;
      #ab_1_5_1 {
        font-family: ScriptBarguzin, sans-serif;
        font-size: 47px;
        padding-top: 46px;
      }
      #ab_1_5_2 {
        text-transform: uppercase;
        font-size: 81px;
        line-height: 50px;
        margin-top: -7px;
        margin-left: -6px;
      }
      #ab_1_5_3 {
        margin-top: 11px;
        line-height: 18px;
      }
    }
  }
  #ab_2 {
    padding-top: 32px;
    div {
      position: relative;
      float: left;
    }
    #ab_2_1 {
      width: 278px;
      margin-right: 14px;
      #ab_2_1_1 {
        background-color: #acacac;
        width: 278px;
        height: 476px;
        padding: 12px 15px;
        #ab_2_1_1_1 {
          font: 71px/71px ScriptBarguzin, sans-serif;
          color: @red;
        }
        #ab_2_1_1_2 {
          font: 34px/34px FranklinGothicDemiCond, sans-serif;
          color: #ffffff;
          text-transform: uppercase;
          margin-top: -13px;
        }
        #ab_2_1_1_3 {
          font: 76px/66px FranklinGothicDemiCond, sans-serif;
          text-transform: uppercase;
          color: #464646;
          letter-spacing: 2px;
        }
        #ab_2_1_1_4 {
          color: #252525;
          font: 15px/17px FranklinGothicBook, sans-serif;
          padding-top: 13px;
        }
      }
      #ab_2_1_2 {
        margin-top: 17px;
      }
    }
    #ab_2_2 {
      width: 277px;
      #ab_2_2_1 {
      }
      #ab_2_2_2 {
        background-color: @red;
        margin-top: 19px;
        width: 277px;
        height: 383px;
        color: #ffffff;
        padding-left: 15px;
        #ab_2_2_2_1 {
          font: 56px/59px ScriptBarguzin, sans-serif;
          letter-spacing: 3px;
        }
        #ab_2_2_2_2 {
          font: 42px/42px FranklinGothicDemiCond, sans-serif;
          margin-top: -11px;
          text-transform: uppercase;
        }
        #ab_2_2_2_3 {
          font: 70px/58px FranklinGothicBook, sans-serif;
          color: #000000;
        }
        #ab_2_2_2_4 {
          font: 15px/18px FranklinGothicBook, sans-serif;
          padding-left: 5px;
        }
      }
    }
  }

  #ab_3 {
    padding: 20px 5px 7px 0;
    float: left;
    width: 975px;
    div {
      position: relative;
      float: left;
    }
    #ab_3_1 {
      width: 390px;
      #ab_3_1_1 {
        padding-left: 15px;
        text-transform: uppercase;
        font-family: FranklinGothicDemiCond, serif;
        font-size: 68px;
        line-height: 68px;
        span {
          color: @red;
        }
      }
      #ab_3_1_2 {
        margin-left: 15px;
        margin-top: 5px;
      }
      #ab_3_1_3 {
        width: 360px;
        height: 178px;
        background-color: #7a1315;
        margin-left: 15px;
        margin-top: 15px;
        color: #ffffff;
        #ab_3_1_3_1{
          font-family: FranklinGothicDemiCond, serif;
          font-size: 28px;
          padding: 0 17px;
          line-height: 75px;
          text-transform: uppercase;
          span{
            font-size: 72px;
            margin-right: 9px;
          }
        }
        #ab_3_1_3_2{
          font: 15px/18px FranklinGothicBook, sans-serif;
          padding-left: 19px;
          margin-top: -17px;
        }
      }
    }
    #ab_3_2 {
      width: 580px;
      height: 515px;
      #ab_3_2_1 {
        width: 279px;
        height: 329px;
        background-color: @red;
        margin-top: 13px;
        color: #ffffff;
        #ab_3_2_1_1{
          color: #252525;
          margin-top: 31px;
          margin-left: 16px;
          font: 33px/33px FranklinGothicDemiCond;
          text-transform: uppercase;
        }
        #ab_3_2_1_2{
          font: 65px/24px ScriptBarguzin, sans-serif;
          text-align: right;
          width: 261px;
        }
        #ab_3_2_1_3{
          padding: 13px 15px;
          font: 16px/18px FranklinGothicBook, sans-serif;
        }
      }
      #ab_3_2_2 {
        width: 278px;
        height: 329px;
        background: #252525 url('../img/product_about_3_2_2.png') no-repeat 14px 11px;
        margin-top: 13px;
        margin-left: 15px;
        color: #ffffff;
        #ab_3_2_2_1{
          font: 142px/128px FranklinGothicBook, sans-serif;
          margin-left: 95px;
        }
        #ab_3_2_2_2{
          font: 54px/54px ScriptBarguzin, sans-serif;
          color: @red;
          margin-top: -23px;
          margin-left: 48px;
        }
        #ab_3_2_2_3{
          font: 36px/36px FranklinGothicDemiCond;
          text-transform: uppercase;
          margin-left: 6px;
          left: 14px;
          letter-spacing: 1px;
        }
        #ab_3_2_2_4{
          padding: 9px 20px;
          font: 15px/18px FranklinGothicBook, sans-serif;
        }
      }
      #ab_3_2_3{
        margin-top: 17px;
        margin-left: 1px;
      }
      #ab_3_2_4, #ab_3_2_5{
        margin-top: 17px;
        margin-left: 15px;
      }
    }
    #ab_3_3{
      margin-top: -64px;
      margin-left: 15px;
      #ab_3_3_1{

      }
      #ab_3_3_2{
        width: 389px;
        height: 250px;
        background-color: #b7b7b7;
        margin-left: 15px;
        #ab_3_3_2_1{
          font: 27px/27px FranklinGothicDemiCond;
          color: @red;
          text-transform: uppercase;
          padding: 19px 12px 0;
        }
        #ab_3_3_2_2{
          font: 15px/18px FranklinGothicBook, sans-serif;
          padding: 8px 14px;
        }

      }
    }
    #ab_3_4{
      width: 359px;
      height: 186px;
      background-color: @red;
      margin-left: 15px;
      #ab_3_4_1{
        font: 31px/31px FranklinGothicDemiCond;
        text-transform: uppercase;
        margin: 13px 14px 0;
      }
      #ab_3_4_2{
        font: 64px/64px ScriptBarguzin, sans-serif;
        color: #ffffff;
        margin-top: -16px;
        margin-left: 147px;
      }
      #ab_3_4_3{
        padding-left: 19px;
        margin-top: -9px;
        font: 15px/18px FranklinGothicBook, sans-serif;
      }
    }
  }
  #ab_4{
    width: 195px;
    float: left;
    div{
      position: relative;
      float: left;
    }
    #ab_4_1{
      margin-top: 33px;
      margin-left: 1px;
    }
    #ab_4_2{
      margin-top: 17px;
      margin-left: 1px;
      width: 179px;
      height: 453px;
      background: #7a1315 url('../img/product_about_4_2.png') no-repeat 11px 14px;
      color: #ffffff;
      #ab_4_2_1{
        font: 28px/28px FranklinGothicDemiCond;
        text-transform: uppercase;
        margin: 89px 17px;
      }
      #ab_4_2_2{
        font: 67px/67px ScriptBarguzin, sans-serif;
        margin-top: -113px;
        margin-left: 53px;
      }
      #ab_4_2_3{
        padding-left: 18px;
        margin-top: -38px;
        font: 15px/18px FranklinGothicBook, sans-serif;
      }
    }
  }

  #ab_5 {
    width: 503px;
    padding: 20px 5px 7px 0;
    float: left;
    div{
      position: relative;
      float: left;
    }
    #ab_5_1 {
      padding-left: 14px;
      text-transform: uppercase;
      font-family: FranklinGothicDemiCond, serif;
      font-size: 68px;
      line-height: 68px;
      letter-spacing: -1px;
      span {
        color: @red;
      }
    }
    #ab_5_2{
      margin-left: 14px;
      margin-top: 4px;
      width: 190px;
      height: 381px;
      #ab_5_2_1{}
      #ab_5_2_2{margin-top: 14px;}
    }
    #ab_5_3{
      width: 279px;
      margin-top: 4px;
      margin-left: 5px;

      #ab_5_3_1{}
      #ab_5_3_2{
        background-color: #acacac;
        color:#252525;
        margin-top: 14px;
        height: 261px;
        #ab_5_3_2_1{
          font: 80px/80px ScriptBarguzin, sans-serif;
          letter-spacing: 1px;
          color: @red;
          margin-left: 16px;
          margin-top: -11px;
        }
        #ab_5_3_2_2{
          font: 51px/51px FranklinGothicDemiCond;
          color: #ffffff;
          margin-left: 11px;
          margin-top: 9px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        #ab_5_3_2_3{
          padding-left: 17px;
          margin-top: -5px;
          font: 15px/18px FranklinGothicBook, sans-serif;
        }
      }
    }
    #ab_5_4{
      background-color: @red;
      color: #ffffff;
      width: 233px;
      margin-top: 16px;
      margin-left: 15px;
      height: 231px;
      #ab_5_4_1{
        font: 56px/56px FranklinGothicDemiCond;
        color: #252525;
        text-transform: uppercase;
        margin-top: 7px;
        margin-left: 18px;
      }
      #ab_5_4_2{
        font: 58px/58px ScriptBarguzin, sans-serif;
        margin-left: 39px;
        margin-top: -19px;
      }
      #ab_5_4_3{
        padding-left: 21px;
        margin-top: 0;
        font: 15px/18px FranklinGothicBook, sans-serif;
      }
    }
    #ab_5_5{
      margin-top: 16px;
      margin-left: 13px;
    }
  }
  #ab_6{
    float: left;
    position: relative;
    width: 277px;
    margin-top: 32px;
    div{
      position: relative;
      float: left;
    }
    #ab_6_1{}
    #ab_6_2{
      background-color: #363636;
      width: 277px;
      margin-top: 15px;
      margin-bottom: 15px;
      height: 139px;
      color: #ffffff;
      #ab_6_2_1{
        color: @red;
        font: 58px/58px ScriptBarguzin, sans-serif;
        margin-left: 49px;
        margin-top: 7px;
      }
      #ab_6_2_2{
        padding-left: 15px;
        margin-top: 0;
        font: 15px/18px FranklinGothicBook, sans-serif;
      }
    }
    #ab_6_3{}
    #ab_6_4{
      background-color: #7a1315;
      color: #ffffff;
      margin-top: 13px;
      height: 160px;
      #ab_6_4_1{
        font: 27px/27px FranklinGothicDemiCond;
        text-transform: uppercase;
        margin-top: 17px;
        margin-left: 17px;
      }
      #ab_6_4_2{
        padding-left: 17px;
        margin-top: 10px;
        font: 15px/18px FranklinGothicBook, sans-serif;
      }
    }
  }
  #ab_7{
    float: left;
    position: relative;
    width: 360px;
    margin-top: 32px;
    margin-left: 14px;
    div{
      position: relative;
      float: left;
    }
    #ab_7_1{
      background-color: @red;
      width: 360px;
      height: 185px;
      margin-bottom: 12px;
      #ab_7_1_1{
        color: #ffffff;
        font: 51px/51px ScriptBarguzin, sans-serif;
        margin-left: 15px;
        margin-top: 3px;
      }
      #ab_7_1_2{
        color: #252525;
        text-transform: uppercase;
        font: 28px/28px FranklinGothicDemiCond;
        margin-top: -5px;
        margin-left: 111px;
        letter-spacing: 1px;
      }
      #ab_7_1_3{
        color: #191919;
        padding-left: 15px;
        margin-top: 4px;
        font: 15px/18px FranklinGothicBook, sans-serif;
        span{
          color: #ffffff;
          text-transform: uppercase;
        }
      }
    }
    #ab_7_2_2{margin-left: 11px;}
    #ab_7_3{
      width: 360px;
      height: 114px;
      margin-top: 14px;
      margin-bottom: 15px;
      background-color: #acacac;
      #ab_7_3_1{
        font: 36px/36px FranklinGothicDemiCond;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 36px;
        margin-left: 13px;
      }
      #ab_7_3_2{
        font: 58px/58px ScriptBarguzin, sans-serif;
        color: @red;
        margin-top: 6px;
        margin-left: -69px;
        letter-spacing: 1px;
      }
      #ab_7_3_3{
        font: 71px/71px FranklinGothicDemiCond;
        color: @red;
        margin-top: -1px;
        margin-left: 6px;
      }
      #ab_7_3_4{
        font: 37px/37px FranklinGothicDemiCond;
        color: #464646;
        text-transform: uppercase;
        margin-left: 15px;
        margin-top: -4px;
      }
    }
  }


  #product_about_navigation {
    position: relative;
    #pager {
      margin-top: 10px;
      margin-bottom: 23px;
      .pager_item {
        width: 26px;
        height: 26px;
        margin-right: 16px;
        background-color: #b7b7b7;
        float: left;
        cursor: pointer;
        &.active {
          background-color: @red;
        }
      }
    }
    .arrow_to_left, .arrow_to_right{
      width: 31px;
      height: 62px;
      position: absolute;
      cursor: pointer;
    }
    .arrow_to_left{
      background: url("../img/product_about_arrow_to_left.png") no-repeat;
      bottom: 359px;
      left: -75px;
    }
    .arrow_to_right{
      background: url("../img/product_about_arrow_to_right.png") no-repeat;
      bottom: 359px;
      right: -72px;
    }
  }

}


#prizes_what_to_do, #prizes_catalog, #game_page {
  background: url("../img/product_bg_about.png") repeat-x;

  .game-rules-ru {
    color: #464646;
    font: normal 14px/16px Arial;
    h1 {
      font: normal 26px/26px Arial;
    }

    p {
      padding-left: 20px;
      margin-top: 20px;
      span {
        margin-left: -25px;
        width: 40px;
      }
      b{
        margin-left: 10px;
      }
    }
  }


  .game-start-bg {
    background: url("../img/game_start.png") no-repeat top center;
    height: 514px;
    width: 100%;
    margin-top: -70px;
    margin-bottom: 150px;
  }

  .game-info {
    position: relative;
    .how-to-play {
      font: normal 88px/10px ScriptBarguzin;
      text-transform: lowercase;
      margin-bottom: 80px;
      float: left;
    }
    .game-slogan {
      color: #555555;
      text-transform: uppercase;
      font: normal 25px/30px FranklinGothicDemiCond;
      float: right;
      width: 655px;
      margin-bottom: 50px;

      .big {
        color: @silver;
        font-size: 31px;
      }
    }
    .game-top-text {
      text-transform: uppercase;
      color: #555555;
      font: normal 32px/32px FranklinGothicMediumCond;
      position: absolute;
      left: 0;

      .cursive {
        font: normal 67px/0px ScriptBarguzin;
        text-transform: lowercase;
      }

      .cursive_smaller{
        font-size: 52px;
      }
    }
    .flash-talk {
      font: normal 22px/22px FranklinGothicBook;
      position: absolute;
      top: 315px;
      padding-left: 10px;
    }
    .game-rules-button {
      background: @dark-red;
      text-transform: uppercase;
      width: 232px;
      height: 52px;
      position: absolute;
      right: -15px;
      top: 400px;
      text-align: center;
      line-height: 50px;

      a {
        text-decoration: none;
        color: #ffffff;
      }
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }

    .game-play-button {
      background: @red;
      text-transform: uppercase;
      width: 232px;
      height: 52px;
      position: absolute;
      right: -15px;
      top: 460px;
      text-align: center;
      line-height: 50px;

      a {
        text-decoration: none;
        color: #ffffff;
      }
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
    .game_steps {
      height: 330px;
      p{
        margin-top: 190px;
        text-align: center;
        font: normal 18px/17px FranklinGothicBook;
        color: @dark-gray;
      }
      #puzzle {
        float: left;
        background: url("../img/game_steps_03.png") no-repeat;
        height: 182px;
        width: 200px;
        margin-right: 35px;
      }
      #move_item {
        float: left;
        background: url("../img/game_steps_05.png") no-repeat;
        height: 182px;
        width: 200px;
        margin-right: 35px;
      }
      #okay {
        float: left;
        background: url("../img/game_steps_07.png") no-repeat;
        height: 182px;
        width: 200px;
        margin-right: 35px;
      }
      #medal {
        float: left;
        background: url("../img/game_steps_09.png") no-repeat;
        height: 182px;
        width: 200px;
        margin-right: 35px;
      }
      #winners {
        float: left;
        background: url("../img/game_steps_11.png") no-repeat;
        height: 182px;
        width: 200px;
      }
    }
    .game-play-start-button {
      background: @red;
      text-transform: uppercase;
      width: 232px;
      height: 52px;
      right: -15px;
      top: 460px;
      text-align: center;
      line-height: 50px;
      float: right;
      margin-bottom: 100px;

      a {
        text-decoration: none;
        color: #ffffff;
      }
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }

  .statistic-info {
    .cursive {
      font: normal 59px/59px ScriptBarguzin;
    }

    .stat-more {
      display: none;
    }

    .stat-col-1 {
      float: left;
      background: url("../img/statisctic-block.png") no-repeat;
      height: 69px;
      margin-top: 40px;
//      piece of shit
      margin-left: -15px;

      &.present {
        background: none;
      }
      &.achievement_game {
        float: left;
        background: url("../img/achievement_play.png") no-repeat;
        height: 69px;
        margin-top: 40px;
        margin-left: -15px;
      }
      &.achievement_poll {
        float: left;
        background: url("../img/achievement_poll.png") no-repeat;
        height: 69px;
        margin-top: 40px;
        margin-left: -15px;
      }

      .stat-plus {
        color: @white;
        position: absolute;
        font: bold 23px/53px FranklinGothicBook;
        padding-left: 12px;
      }

    .stat-col-present {
      float: left;
      height: 69px;
      margin-top: 40px;
      margin-left: -15px;

    }

    }
    .stat-col-2 {
      float: left;
      width: 230px;
      margin-left: 80px;

      &.present-text {
        margin-left: 130px;
      }

      .stat-date {
        color: #acacac;
        font: normal 14px/14px FranklinGothicBook;
      }
      .stat-name {
        color: @silver;
        font: normal 21px/5px FranklinGothicBook;
        text-transform: uppercase;

        &.achievement {
          text-transform: none;
          width: 300px;
        }
      }
      .stat-desc {
        color: #464646;
        font: normal 16px/16px FranklinGothicBook;
      }
    }

    .stat-col-3 {
      margin-top: 20px;

      .stat-sum {
        font: normal 145px/145px FranklinGothicMediumCond;
        color: #000000;
        margin-left: -45px;
      }

    }

    .stat-col-4 {
      margin-top: 40px;
      .stat-my-balance {
        font: normal 22px/22px FranklinGothicBook;
        text-transform: uppercase;
      }
    }
  }

  .stat-showmore{
    background: url("../img/stat_showmore.png") no-repeat;
    height: 32px;
    color: @white;
    text-transform: uppercase;
    text-align: center;
    font: normal 15px/30px FranklinGothicBook;
    margin-top: -30px;

    a {
      text-decoration: none;
      color: @white;
    }
    &:hover {
      opacity: 0.9;
    }
  }

  .stat-presents {
    margin-bottom: 160px;
  }

  .stat-achievements {

  }

  .stat-hr {
    border: 0;
    color: #a8a8a8;
    background-color: #a8a8a8;
    height: 1px;
  }

  .container{
    padding-top: 62px;
    margin-bottom: 60px;
    .pwtd_fl{
      width: 100%;
      height: 265px;
      .num{
        font-family: ScriptBarguzin;
        font-size: 115px;
        line-height: 110px;
        padding-left: 175px;
        text-align: left;
      }
      .desc{
        font-family: FranklinGothicDemiCond;
        font-size: 27px;
        line-height: 27px;
        text-transform: uppercase;
        padding-left: 27px;
        margin-top: -4px;
      }
    }
    #pwtd_1{
      background-color: #d71920;
      color: #fff;
    }
    #pwtd_2{
      background-color: #b5b4b4;
      color: #252525;
    }
    #pwtd_3{
      background-color: #555555;
      color: #fff;
    }
    #pwtd_4{
      background-color: #252525;
      color: #d71920;
      .desc {
        margin-top: -30px;
      }
    }
    h2{
      font: 73px/73px ScriptBarguzin;
      color: #d71920;
      margin-top: 15px;

    }
    table{
      color:#ffffff;
      width: 100%;
      th, td{
        padding-left: 15px;
        padding-top: 15px;
        &:first-child{
          padding-left: 65px;
          width: 57%;
        }
      }

      th{
        background-color: #d71920;
        text-transform: uppercase;
        font: 21px/21px FranklinGothicDemiCond;
        padding: 15px 0 11px 25px;
        letter-spacing: 2px;
        text-align: left;

      }
      td{
        font: 21px/21px FranklinGothicBook;
        padding: 8px 0 6px 25px;
      }

      .odd td{
        background-color: #4c4c4c;

      }
      .even td{
        background-color: #333333;
      }
      .bg_red td{
        background-color: #d71920;
        height: 30px;
      }

    }

    #h1{
        font: 42px/42px FranklinGothicDemiCond;
      text-transform: uppercase;
      color: #464646;
      margin-top: -32px;
      letter-spacing: .5px;
      span{
        font: 71px/71px ScriptBarguzin;
        text-transform: none;
        color: #d71920;
      }
    }

    #pzscat_1{
      position: relative;
      float: left;
      margin-top: 14px;
      width: 749px;
      height: 507px;
      background-color: #d71920;
      div{
        position: absolute;
      }
      #pzscat_1_1{
        top: 1px;
        left: 34px;
        font: 77px/77px ScriptBarguzin;
        color: #ffffff;
      }
      #pzscat_1_2{
        top: 27px;
        left: 278px;
        font: 45px/45px FranklinGothicDemiCond;
        color: #363636;
        text-transform: uppercase;
        letter-spacing: -1px;

      }
      #pzscat_1_3{
        top: 80px;
        left: 528px;
        font: 16px/16px FranklinGothicBook;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      #pzscat_1_4{
        top: 147px;
        left: 458px;
        background: url("http://realdrive.rappukraine.com/layout/img/bg_pzscat1.png") no-repeat;
        width: 264px;
        height: 182px;
        padding-top: 22px;
        padding-left: 38px;
        color: #d71920;
        font: 53px/33px ScriptBarguzin;
        letter-spacing: 2px;
      }
      #pzscat_1_5{
        top: 360px;
        left: 466px;
        color: #ffffff;
        font: 17px/20px FranklinGothicBook;
        letter-spacing: .2px;
      }
      #pzscat_1_6{
        top: 440px;
        left: 556px;
        width: 164px;
        height: 39px;
        background-color: #7a1315;
        text-align: center;
        color: #ffffff;
        font: 15px/37px arial;
        cursor: pointer;
      }
      #pzscat_1_7{
        top: 87px;
        left: 47px;
      }
    }
    #pzscat_2{
      position: relative;
      float: left;
      margin-top: 14px;
      margin-left: 30px;
      width: 360px;
      height: 507px;
      background: #d7d7d7 url("../img/pzscat2.png") no-repeat 8px 128px;
      div{
        position: absolute;
      }
      #pzscat_2_1{
        font: 27px/25px FranklinGothicDemiCond;
        color: #464646;
        top: 16px;
        left: 20px;
        text-transform: uppercase;
        letter-spacing: -.2px;
        span{
          color: #d71920;
          font-size: 42px;
          line-height: 27px;
        }
      }
      #pzscat_2_2{
        top: 92px;
        left: 18px;
        color: #d71920;
        font: 53px/33px ScriptBarguzin;
        letter-spacing: 3px;
      }
      #pzscat_2_3{
        top: 389px;
        left: 26px;
        color: #252525;
        font: 15px/18px FranklinGothicBook;
      }
      #pzscat_2_4{
        top: 440px;
        left: 169px;
        width: 164px;
        height: 39px;
        background-color: #7a1315;
        text-align: center;
        color: #ffffff;
        font: 15px/37px arial;
        cursor: pointer;
      }
    }
    #h2{
      position: relative;
      float: left;
      margin-top: 31px;
      margin-left: 0px;
      color: #464646;
      font: 42px/38px FranklinGothicDemiCond;
      text-transform: uppercase;
      letter-spacing: .3px;
    }
    #h3{
      position: relative;
      float: left;
      background: url("../img/bg_pzscat2.png") no-repeat;
      width: 557px;
      height: 110px;
      margin-top: 31px;
      margin-left: 24px;
      color: #555555;
      font: 21px/21px FranklinGothicBook;
      text-transform: uppercase;
      padding-top: 26px;
      padding-left: 30px;
      letter-spacing: .4px;
      a{
        color: #d71920;
        font: 40px/12px ScriptBarguzin;
        text-transform: none;
        padding-left: 52px;
      }

    }
    #pzscat_3 {
      position: relative;
      float: left;
      background: #252525 url("../img/bg_pzscat3.png") no-repeat  35px 20px;
      width: 555px;
      height: 630px;
      margin-top: 13px;
      margin-left: -2px;
      div,a{
        position: absolute;
      }
      #pzscat_3_1{
        color: #ffffff;
        font: 42px/38px FranklinGothicDemiCond;
        text-transform: uppercase;
        top: 32px;
        left: 32px;
      }

      #pzscat_3_2{
        color: #d71920;
        font: 140px/140px ScriptBarguzin;
        top: 57px;
        left: 34px;
      }
      #pzscat_3_3{
        color: #d71920;
        font: 20px/20px FranklinGothicBook;
        top: 95px;
        left: 147px;
      }
      #pzscat_3_4{
        color: #ffffff;
        font: 15px/18px FranklinGothicBook;
        top: 482px;
        left: 35px;
      }
      #pzscat_3_5{
        top: 557px;
        left: 35px;
        select{
          width: 293px;
          height: 39px;
          margin-top: -1px;
          padding-left: 12px;
        }
      }
      #pzscat_3_6{
        top: 556px;
        left: 350px;
        width: 170px;
        height: 39px;
        background-color: #d71920;
        text-align: center;
        color: #ffffff;
        font: 15px/37px arial;
        cursor: pointer;
        text-transform: uppercase;
      }

    }
    #pzscat_4 {
      position: relative;
      float: left;
      margin-top: 13px;
      margin-left: 31px;
      background: #7a1315 url("../img/bg_pzscat4.png") no-repeat  274px -2px;
      width: 554px;
      height: 299px;
      div,a{
        position: absolute;
      }
      #pzscat_4_1 {
        color: #ffffff;
        font: 42px/38px FranklinGothicDemiCond;
        text-transform: uppercase;
        top: 24px;
        left: 26px;
        letter-spacing: -1px;
      }
      #pzscat_4_2 {
        color: #ffffff;
        font: 110px/110px ScriptBarguzin;
        top: 57px;
        left: 21px;
      }
      #pzscat_4_3 {
        color: #ffffff;
        font: 20px/20px FranklinGothicBook;
        top: 90px;
        left: 153px;
      }
      #pzscat_4_4 {
        color: #ffffff;
        font: 15px/18px FranklinGothicBook;
        top: 162px;
        left: 31px;
      }
      #pzscat_4_5 {
        top: 234px;
        left: 30px;
        width: 154px;
        height: 39px;
        background-color: #d71920;
        text-align: center;
        color: #ffffff;
        font: 15px/37px arial;
        cursor: pointer;
        text-transform: uppercase;
      }

    }
    #pzscat_5 {
      position: relative;
      float: left;
      margin-top: 31px;
      margin-left: 30px;
      background: #acacac url("../img/bg_pzscat5.png") no-repeat 28px 30px;
      width: 555px;
      height: 300px;
      div,a{
        position: absolute;
      }
      #pzscat_5_1 {
        color: #ffffff;
        font: 42px/40px FranklinGothicDemiCond;
        text-transform: uppercase;
        top: 21px;
        left: 235px;
      }
      #pzscat_5_2 {
        color: #d71920;
        font: 110px/110px ScriptBarguzin;
        top: 177px;
        left: 232px;
        letter-spacing: 4px;
      }
      #pzscat_5_3 {
        color: #d71920;
        font: 20px/20px FranklinGothicBook;
        top: 195px;
        left: 368px;
      }
      #pzscat_5_4 {
        color: #464646;
        font: 15px/18px FranklinGothicBook;
        top: 107px;
        left: 238px;
      }
      #pzscat_5_5 {
        top: 226px;
        left: 368px;
        width: 151px;
        height: 39px;
        background-color: #d71920;
        text-align: center;
        color: #ffffff;
        font: 15px/37px arial;
        cursor: pointer;
        text-transform: uppercase;
      }
    }

  }
}

.news-block {
//  height: 350px;
    .news-content {
      font: normal 21px/21px FranklinGothicBook;
      color: @silver;

      a {
        color: @red;
        text-decoration: underline;

        &:hover{
          text-decoration: none;
        }
      }
    }

  .like-button {
    background: @red url("../img/like_hand.png") no-repeat 94%  5px;
    text-transform: uppercase;
    color: @white;
    height: 35px;
    letter-spacing: 2px;
    padding-left: 25px;
    line-height: 35px;
    cursor: pointer;
    float: right;
    margin: 30px 0;

    &:hover{
      text-decoration: none;
    }

  }

  .news-comments{
    margin-top: 50px;

    textarea{
      width: 100%;
      border: 1px solid #a0a0a0;
      background-color: #ffffff;

      &:focus { outline: none; }
    }

    .comments-done{
      background: @red;
      float: right;
      margin-top: 10px;
      text-transform: uppercase;
      color: @white;
      height: 35px;
      letter-spacing: 2px;
      text-align: center;
      padding: 0 35px ;
      cursor: pointer;
      font: normal 18px/35px FranklinGothicBook;
      &:hover {
        text-decoration: none;
      }
    }

    .news-comments-title {
      font: normal 24px/24px FranklinGothicDemiCond;
      color: @red;
      text-transform: uppercase;
    }
  }
  .news-pic {
    .news-image-text{
      color: @white;
      font: normal 36px/36px FranklinGothicDemiCond;
      text-transform: uppercase;
      position: absolute;
      bottom: 35px;
    }
    .news-image-single{
      color: @white;
      font: normal 36px/36px FranklinGothicDemiCond;
      text-transform: uppercase;
      position: relative;
      bottom: 85px;
    }
    .cursive {
      font: normal 57px/57px ScriptBarguzin;
      color: @white;
      text-transform: lowercase;
      line-height: 30px;
      margin-bottom: 135px;
      width: 50px;
    }
    .small-text {
      font: normal 19px/19px FranklinGothicBook;
      width: 230px;
      margin-left: 15px;
    }

    .splited-right {
      position: absolute;
      right: 0;
      padding-right: 30px;
      padding-bottom: 90px;
    }

    .splited-right-small {
      font: normal 19px/19px FranklinGothicBook;
      position: absolute;
      right: 0;
      padding-right: 30px;
      padding-bottom: 60px;
    }

  }


  .read-more{
    background: @red;
    text-transform: uppercase;
    color: @white;
    height: 35px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 35px;
    top: -50px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.news-info {
  position: relative;
  top: 25px;
  color: @grey;
  font: bold 14px/14px FranklinGothicBook;
  text-transform: uppercase;

  .news-date {
    margin-bottom: 15px;
    position: relative;
    top: -20px;
    color: #898989;
  }

  &.first {
    margin-top: 25px;
  }

  .news-like-single {
    margin-bottom: 10px;
    margin-top: -20px;
    color: #898989;
  }

  .news-comments-single {
    margin-bottom: 10px;
    color: #898989;
  }

}
.comments-box {
  height: 70px;
  margin-bottom: 20px;
  .comments-avatars {
  }

  .comments-author{
    .comments-name {
      font: normal 17px/17px FranklinGothicMediumCond;
      color: #707070;
    }
    .comments-date {
      font: normal 13px/9px FranklinGothicBook;
    }
  }

  .comments-bubble {
    background: url("../img/comments_bubble.png") no-repeat;
    height: 69px;
    font: normal 16px/16px FranklinGothicBook;
    color: #707070;
    padding-left: 40px;
    padding-top: 15px;
  }
}

#start_center_container {
  margin-top: 50px;
  .start-logo{
    background: url("../img/start_logo.png") no-repeat;
    height: 74px;
  }
  .top-start-block {
    text-transform: uppercase;
    color: @red;
    line-height: 85px;

    a {
      margin-right: 10px;
      margin-left: 29px;
    }

    a {
      display: inline-block;
      font: normal 17px/17px FranklinGothicMedium;
      color: @red;
      
    }
  }
}

.start-banners {
  color: @brown;
  font: normal 21px/21px FranklinGothicDemiCond;
  text-transform: uppercase;

  .big-white {
    color: @white;
    font-size: 29px;
  }

  .cursive {
    font: normal 55px/35px ScriptBarguzin;
    text-transform: lowercase;
    text-align: right;
    float: right;
    padding-right: 25px;
  }

  .annot {
    font: normal 18px/18px FranklinGothicBook;
  }

  .start-1 {
    background: url("../img/START_06.png") no-repeat;
    height: 251px;

    p {
      padding-top: 30px;
    }
  }
  .start-2 {
    background: url("../img/START_00_08.png") no-repeat;
    height: 251px;

    .play {
      margin-top: 130px;
      font-size: 67px;
      margin-right: 65px;
    }
    .annot {
      margin-top: 180px;
    }
  }
  .start-3 {
    background: url("../img/START_00_10.png") no-repeat;
    height: 251px;
    padding-top: 10px;
  }
  .start-4 {
    background: url("../img/START_00_15.png") no-repeat;
    height: 251px;
    margin-top: 30px;

    .annot {
      margin-top: 60px;
      margin-left: 270px;
    }
  }
  .start-5 {
    background: url("../img/START_00_17.png") no-repeat;
    height: 251px;
    margin-top: 30px;
  }
  .start-6 {
    background: url("../img/START_00_18.png") no-repeat;
    height: 251px;
    margin-top: 30px;

    .cursive {
      font-size: 38px;
      margin-top: 90px;
    }
  }
}

// Cabinet

.cabinet {
  background-color: #a1a1a1;
  height: 625px;
  margin-top: 30px;
  font: normal 18px/18px FranklinGothicBook;
  color: @white;
  
  .triangle {
    background: url("../img/cabinet_triangle.png") no-repeat;
    height: 23px;
    position: relative;
    bottom: 20px;
  }

  .cursive {
      font: normal 59px/59px ScriptBarguzin;
    }
  .points {
    font-size: 98px;
    .balls {
      font-size: 38px;
      position: absolute;
      top: -20px;
      right: 25px;
    }
    .points_reason {
      font: normal 16px/16px FranklinGothicBook;
      color: @brown;
      position: absolute;
      top: 30px;
      padding-left: 20px;
      width: 200px;
    }
  }

  .cabinet-content {

  }
}

.cabinet-form {
  input, select {
    width: 260px;
    color: @grey;
    padding: 0 10px;
  }

  .cabinet-input {
    margin-bottom: 20px;

    &.birthday-input{
      margin-bottom: 42px;
    }
    &.street {
      margin-bottom: 62px;
    }
    &.house {
      margin-top: 42px;
    }
  }

  .upload-avatar {
    position: relative;
    .cabinet-smile {
      background: url("../img/cabinet_smile.png") no-repeat;
      height: 69px;
    }
    .cabinet-upload {
      height: 69px;
      position: absolute;
      top: 0;
      left: 80px;
    }
    .cabinet-upload-button {
      background: #636363;
      width: 180px;
      height: 31px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      left: 80px;
      top: 30px;
    }
  }
}
.cabinet-disclaimer{
  font: normal 12px/12px FranklinGothicBook;
  a {
    color: @white;
    text-decoration: underline;
  }
}
.cabinet-save {
  font: normal 50px/35px ScriptBarguzin;
  background: @red;
  width: 262px;
  height: 45px;
  text-align: center;
}